:root {
  font-family: Heebo, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark : #21243D;
  --primary: #FF6464 ;
  --secondary: #EDF7FA;
  --light: #8695A4;

  overflow-x: hidden;
}
/* 1em 16px
2em 32px */



#root{
  margin: 0;
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
}

footer{
  margin-top: 5rem;
  text-align: center;
  gap: 1em;
  padding: 1em;
  width: 100%;
  font-size: 0.8em;
  font-weight: 400;
  color: var(--dark);
}

header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;
  padding: 1em;
  width: 90%;
  font-size: 1.2em;
}

@media screen and (max-width: 376px) {
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
    width: 90%;
    font-size: 1.2em;
  }
  
}

a{
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
}

hr{
  border: #E0E0E0, solid, 1px;
  width: 100%;
}

input{
  border-radius: 8px;
  border: var(--light), solid, 2px;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.bigInput{
  height: 10rem;
}

.primary{
  color: var(--primary);
}

.light{
  color: var(--light);
}

.primary-bg{
  background-color: var(--primary);
  color: #fff;
}

.secondary-bg{
  background-color: var(--secondary);
  color: var(--dark);
}

.white-bg{
  background-color: #fff;
  color: var(--dark);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  padding-top: 5rem;
}

.tleft{
  text-align: left;
  align-items: normal;
}

.m4{
  margin-inline: 14rem;
}

.w900{
  font-weight: 900;
  font-size: 2.7em;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.badge{
  background-color: var(--dark);
  color: #fff;
  border-radius: 16px;
  width: 3.87em;
  text-align: center;
  font-weight: 800;
}

.btn{
  border: none;
  border-radius: 5pt;
  height: 50px;
  font-size: 2em;
}

.post{
  width: 40rem;
}
.cardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  display: flex;
  margin-top: 1.5em;
}

.cardContent{
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.h3{
  font-size: 1.8em;
  font-weight: 700;
}

.cardImage{
  width: 246px;
  height: 180px;
  border-radius: 6px;
  margin-right: 1em;
}

.title{
  font-weight: 700;
  font-size: 2.75em;
  margin-bottom: 1.5em;
}