:root {
  font-family: Heebo, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark : #21243D;
  --primary: #FF6464 ;
  --secondary: #EDF7FA;

  overflow-x: hidden;
}
/* 1em 16px
2em 32px */



#root{
  margin: 0;
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
}

footer{
  margin-top: 3rem;
  text-align: center;
  gap: 1em;
  padding: 1em;
  width: 100%;
  font-size: 0.8em;
  font-weight: 400;
  color: var(--dark);
}

header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;
  padding: 1em;
  width: 90%;
  font-size: 1.2em;
}

@media screen and (max-width: 376px) {
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
    width: 90%;
    font-size: 1.2em;
  }
  
}

a{
  color: black;
  text-decoration: none;
}

hr{
  border: #E0E0E0, solid, 1px;
  width: 100%;
}

.primary{
  color: var(--primary);
}

.primary-bg{
  background-color: var(--primary);
  color: #fff;
}

.secondary-bg{
  background-color: var(--secondary);
  color: var(--dark);
}

.white-bg{
  background-color: #fff;
  color: var(--dark);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  width: 100%;
  padding: 1px;
}

.btn{
  border: none;
  border-radius: 5pt;
}

.post{
  width: 40rem;
}